*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.background{
    position: absolute;
    width: 100%;
    height: 100%;
}

button{
    border: none;
    background: none;
}

.inicial{
    position: absolute;
    left: 1180px;
    top: 30px;
    
    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    
    color: #FFFFFF;
}

.app{
    position: absolute;
    width: 110px;
    height: 20px;
    left: 1305px;
    top: 30px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;

    color: #FFFFFF;
}

.contato{
    position: absolute;
    width: 80px;
    height: 20px;
    left: 1415px;
    top: 30px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;

    color: #FFFFFF;
}

.suporte{
    position: absolute;
    width: 80px;
    height: 20px;
    left: 1500px;
    top: 30px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;

    color: #FFFFFF;
}

.entrar{
    position: absolute;
    width: 70px;
    height: 20px;
    left: 1585px;
    top: 30px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;

    color: #FFFFFF;
}

.criarconta{
    position: absolute;
    width: 110px;
    height: 20px;
    left: 1657px;
    top: 30px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;

    color: #1D84DD;
}

.conta{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 1780px;
    top: 10px;
}

.icon{
    position: absolute;
    left: 10px;
    top: 10px;
}

.barra{
    position: absolute;
    width: 100%;
    height: 80px;

    background: #121514;
}

.logo{
    position: absolute;
    width: 200px;
    height: 80px;
    left: 21px;
    top: -8px;
}

.checkbox1{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 905px;
    top: 488px;
}

.checkbox2{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 905px;
    top: 559px;
}

.checkbox3{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 905px;
    top: 630px;
}

.checkbox4{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 905px;
    top: 701px;
}

.texto1{
    position: absolute;
    width: 560px;
    height: 38px;
    left: 955px;
    top: 494px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 46px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.texto2{
    position: absolute;
    width: 500px;
    height: 38px;
    left: 955px;
    top: 565px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 46px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.texto3{
    position: absolute;
    width: 344px;
    height: 38px;
    left: 955px;
    top: 636px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 46px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.texto4{
    position: absolute;
    width: 330px;
    height: 38px;
    left: 955px;
    top: 707px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 46px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sobre{
    position: absolute;
    width: 470px;
    height: 30px;
    left: 973px;
    top: 362px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 55px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dispositivo{
    position: absolute;
    width: 600px;
    height: 600px;
    left: 221px;
    top: 284px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.compra{
    position: absolute;
    width: 290px;
    height: 90px;
    left: 860px;
    top: 805px;

    background: #1B262C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;

    color: #FFFFFF;
}

.preco{
    position: absolute;
    width: 230px;
    height: 30px;
    left: 1165px;
    top: 834px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #1DDD47;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}