*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background{
    position: absolute;
    width: 100%;
    height: 100%;
}

button{
    border: none;
    background: none;
}

.app{
    position: absolute;
    width: 110px;
    height: 20px;
    left: 1305px;
    top: 30px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;

    color: #FFFFFF;
}

.contato{
    position: absolute;
    width: 80px;
    height: 20px;
    left: 1415px;
    top: 30px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;

    color: #FFFFFF;
}

.suporte{
    position: absolute;
    width: 80px;
    height: 20px;
    left: 1500px;
    top: 30px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;

    color: #FFFFFF;
}

.entrar{
    position: absolute;
    width: 70px;
    height: 20px;
    left: 1585px;
    top: 30px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;

    color: #FFFFFF;
}

.criarconta{
    position: absolute;
    width: 110px;
    height: 20px;
    left: 1657px;
    top: 30px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;

    color: #1D84DD;
}

.conta{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 1780px;
    top: 10px;
}

.icon{
    position: absolute;
    left: 10px;
    top: 10px;
}

.barra{
    position: absolute;
    width: 100%;
    height: 80px;

    background: #121514;
}

.logo{
    position: absolute;
    width: 200px;
    height: 80px;
    left: 21px;
    top: -8px;
}

.appRectangle{
    position: absolute;
    width: 500px;
    height: 500px;
    left: 284px;
    top: 312px;

    background: #121514;
    border-radius: 20px;
}

.appIcon{
    position: absolute;
    width: 320px;
    height: 392px;
    left: 374px;
    top: 369px;

    background: url(.png);
}

.texto{
    position: absolute;
    width: 669px;
    height: 170px;
    left: 865px;
    top: 506px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 46px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.textodaloja1{
    position: absolute;
    width: 280px;
    height: 90px;
    left: 899px;
    top: 714px;

    text-align: end;
    padding-right: 3rem;

    background: #1B262C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 35px;

    color: #FFFFFF;
}

.textodaloja2{
    position: absolute;
    width: 280px;
    height: 90px;
    left: 1235px;
    top: 714px;

    text-align: end;
    padding-right: 3rem;

    background: #1B262C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 35px;

    color: #FFFFFF;
}

.wifi{
    position: absolute;
    width: 197.7px;
    height: 135.09px;
    left: 1106px;
    top: 371px;
}

.logo1{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 925px;
    top: 735px;
}

.logo2{
    position: absolute;
    width: 50px;
    height: 60px;
    left: 1261px;
    top: 729px;
}