.background{
    position: absolute;
    width: 100%;
    height: 986px;
    top: 0px;
    left: 0px;
}

.app-logo{
    position: absolute;
    width: 320px;
    height: 128px;
    left: 850px;
    top: 136px;
}

.nome{
    box-sizing: border-box;

    position: absolute;
    width: 480px;
    height: 80px;
    left: 775px;
    top: 299px;
    
    background: #F1F1F1;
    border: 3px solid #000000;
    border-radius: 10px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 26px;
    display: flex;
    align-items: center;
    
    color: #000000;    
}

.senha{
    box-sizing: border-box;

    position: absolute;
    width: 480px;
    height: 80px;
    left: 775px;
    top: 420px;
    
    background: #F1F1F1;
    border: 3px solid #000000;
    border-radius: 10px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 26px;
    display: flex;
    align-items: center;
    
    color: #000000;    
}

.senha-perdida{
    position: absolute;
    width: 190px;
    height: 20px;
    left: 780px;
    top: 490px;
    
    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
    
}

.entrar{
    position: absolute;
    width: 290px;
    height: 90px;
    left: 865px;
    top: 600px;
    
    background: #1B262C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 70px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
    
    color: #FFFFFF;    
}