*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.background{
    position: fixed;
    width: 55%;
    height: 100%;
    left: 865px;
}

button{
    border: none;
    background: none;
}

.app{
    position: absolute;
    width: 110px;
    height: 20px;
    left: 1310px;
    top: 30px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;

    color: #FFFFFF;
}

.contato{
    position: absolute;
    width: 80px;
    height: 20px;
    left: 1423px;
    top: 30px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;

    color: #FFFFFF;
}

.suporte{
    position: absolute;
    width: 80px;
    height: 20px;
    left: 1512px;
    top: 30px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;

    color: #FFFFFF;
}

.entrar{
    position: absolute;
    width: 70px;
    height: 20px;
    left: 1600px;
    top: 30px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;

    color: #FFFFFF;
}

.criarconta{
    position: absolute;
    width: 110px;
    height: 20px;
    left: 1675px;
    top: 30px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;

    color: #1D84DD;
}

.conta{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 1795px;
    top: 10px;
}

.icon{
    position: absolute;
    left: 10px;
    top: 10px;
}

.barra{
    position: absolute;
    width: 100%;
    height: 80px;

    background: #121514;
}

.logo{
    position: absolute;
    width: 200px;
    height: 80px;
    left: 21px;
    top: -8px;
}
