*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.background{
    position: absolute;
    width: 100%;
    height: 100%;
}

button{
    border: none;
    background: none;
}

.app{
    position: absolute;
    width: 110px;
    height: 20px;
    left: 1305px;
    top: 30px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;

    color: #FFFFFF;
}

.contato{
    position: absolute;
    width: 80px;
    height: 20px;
    left: 1415px;
    top: 30px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;

    color: #FFFFFF;
}

.suporte{
    position: absolute;
    width: 80px;
    height: 20px;
    left: 1500px;
    top: 30px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;

    color: #FFFFFF;
}

.entrar{
    position: absolute;
    width: 70px;
    height: 20px;
    left: 1585px;
    top: 30px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;

    color: #FFFFFF;
}

.criarconta{
    position: absolute;
    width: 110px;
    height: 20px;
    left: 1657px;
    top: 30px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;

    color: #1D84DD;
}

.conta{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 1780px;
    top: 10px;
}

.icon{
    position: absolute;
    left: 10px;
    top: 10px;
}

.barra{
    position: absolute;
    width: 100%;
    height: 80px;

    background: #121514;
}

.logo{
    position: absolute;
    width: 200px;
    height: 80px;
    left: 21px;
    top: -8px;
}

.pagina{
    position: absolute;
    width: 290px;
    height: 90px;
    left: 125px;
    top: 785px;

    background: #1B262C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;

    color: #FFFFFF;
}

p{
    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.textoparte1{
    position: absolute;
    width: 1617px;
    height: 102px;
    left: 130px;
    top: 120px;
}

.textoparte2{
    position: absolute;
    width: 1120px;
    height: 62px;
    left: 130px;
    top: 240px;
}

.textoparte3{
    position: absolute;
    width: 1576px;
    height: 56px;
    left: 130px;
    top: 325px;
}

.textoparte4{
    position: absolute;
    width: 1568px;
    height: 125px;
    left: 130px;
    top: 410px;
}

.textoparte5{
    position: absolute;
    width: 934px;
    height: 44px;
    left: 130px;
    top: 560px;
}

.textoparte6{
    position: absolute;
    width: 1568px;
    height: 132px;
    left: 132px;
    top: 600px;
}

.entreemcontato{
    position: absolute;
    width: 672px;
    height: 22px;
    left: 130px;
    top: 725px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;

    display: flex;
    align-items: center;

    color: #1D84DD;
}