*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.background{
    position: absolute;
    width: 100%;
    height: 100%;
}

button{
    border: none;
    background: none;
}

.inicial{
    position: absolute;
    left: 1180px;
    top: 30px;
    
    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    
    color: #FFFFFF;
}

.app{
    position: absolute;
    width: 110px;
    height: 20px;
    left: 1305px;
    top: 30px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;

    color: #FFFFFF;
}

.contato{
    position: absolute;
    width: 80px;
    height: 20px;
    left: 1415px;
    top: 30px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;

    color: #FFFFFF;
}

.suporte{
    position: absolute;
    width: 80px;
    height: 20px;
    left: 1500px;
    top: 30px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;

    color: #FFFFFF;
}

.entrar{
    position: absolute;
    width: 70px;
    height: 20px;
    left: 1585px;
    top: 30px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;

    color: #FFFFFF;
}

.criarconta{
    position: absolute;
    width: 110px;
    height: 20px;
    left: 1657px;
    top: 30px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;

    color: #1D84DD;
}

.conta{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 1780px;
    top: 10px;
}

.icon{
    position: absolute;
    left: 10px;
    top: 10px;
}

.barra{
    position: absolute;
    width: 100%;
    height: 80px;

    background: #121514;
}

.logo{
    position: absolute;
    width: 200px;
    height: 80px;
    left: 21px;
    top: -8px;
}

.termos-texto{
    position: absolute;
    text-align: justify;
    width: 1800px;
    height: 102px;
    left: 90px;
    top: 250px;
        
    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.termos-texto2{
    position: absolute;
    text-align: justify;
    width: 1800px;
    height: 102px;
    left: 90px;
    top: 580px;
        
    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.voltar{
    position: absolute;
    width: 290px;
    height: 90px;
    left: 90px;
    top: 820px;
    
    background: #1B262C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
    cursor: pointer;
    
    color: #FFFFFF;
}